.categoryGrid {
    position: relative;
    overflow: hidden;
    height: 40vw;
    background: #fff;
    background-color: black
}
  
.categoryGrid .container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    transform: rotateZ(45deg);
    top: -20vw;
    left: -8vw;
    height: 100vw;
	width: 100vw;
}

.categoryGrid .container .men-container {
    overflow: hidden;
    position: relative;
}

.categoryGrid .container .column {
    overflow: hidden;
    position: relative;
}
  
.categoryGrid .container .men-container {
      width: 50%;
      height: 100vw;
      border-right: 8px solid white;
  }
  
.categoryGrid .container .men-container:hover {
      opacity: 0.75;
      cursor: pointer;
  }
  
.categoryGrid .container .men-container:before {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotateZ(-45deg);
      content: "";
      width: 50vw;
      height: 40vw;
      top: 50vw;
      left: -10vw;
      background-image: url(https://res.cloudinary.com/dajhxqlxa/image/upload/v1691540506/1837845_zcr7sq.jpg);
  }
  

.categoryGrid .container .column {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: 120vw;
}

.categoryGrid .container .column .unisex-container {
	border-top: 8px solid #fff;
}
  
.categoryGrid .container .column .row {
	border-top: 8px solid #fff;
}
  
.categoryGrid .container .column .unisex-container {
      position: relative;
      overflow: hidden;
      height: 90vw;
  }
  
.categoryGrid .container .column .unisex-container:hover {
      opacity: 0.75;
      cursor: pointer;
  }
  
.categoryGrid .container .column .unisex-container:before {
      position: absolute;
      background-repeat: no-repeat;
      background-size: 25%;
      transform: rotateZ(-45deg);
      content: "";
      top: -29vw;
      left: -5vw;
      width: 100vw;
      height: 40vw;
      background-image: url(https://res.cloudinary.com/dajhxqlxa/image/upload/v1691607193/1200px-White_circle_on_black_background.svg_odyo4j.png);
  }
  
  .categoryGrid .container .column .row {
	display: flex;
	height: 80vw;
}


.categoryGrid .container .column .row div:nth-of-type(1) {
    display: flex;
    position: relative;
	overflow: hidden;
	width: 30%;
	background-color: white;
}

.categoryGrid .container .column .row div:nth-of-type(1) .text {
	width: 100%;
	height: 100%;
	overflow: visible;
	transform: rotateZ(-90deg);
	position: relative;
}

.categoryGrid .container .column .row div:nth-of-type(1) h6 {
    transform: rotateZ(-90deg);
    align-self: center;
    margin-left: 65px;
    margin-top: 35vw;
    font-size: 20pt;
    font-style: italic;
    font-weight: bold;
}

.categoryGrid .container .column .row div:nth-of-type(1) .text p {
	text-align: right;
	position: absolute;
	color: red;
	font-size: 0.9vw;
	width: 18vw;
    top: 100vw;
	left: -3.5vw;
}

.categoryGrid .container .column .row .women-container {
	position: relative;
	width: 70%;
	border-left: 8px solid white;
	overflow: hidden;
}

.categoryGrid .container .column .row .women-container:hover {
	opacity: 0.75;
	cursor: pointer;
}

.categoryGrid .container .column .row .women-container:before {
	position: absolute;
	top: 0;
	left: 0vw;
	width: 100%;
    height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://res.cloudinary.com/dajhxqlxa/image/upload/v1691540506/desktop-wallpaper-lady-by-ben-seys-women-silhouette-black-and-white-thumbnail_xwsp4e.jpg);
}


@media only screen and (max-width: 600px) {
    .categoryGrid {
        height: 50vw;
    }

    .categoryGrid .container .column .row:nth-of-type(1):before {
        top: -24vw;
        left: 1vw;   
    }

    .categoryGrid .container .column .row div:nth-of-type(1) h6 {
        margin-left: 5px;
        margin-top: 35vw;
        font-size: 12pt;
    }
  }