@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120vh;
  background-color: black;
  color: white;
  font-family: "Bona Nova", serif;
  text-transform: uppercase;
}

.newsletter {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  color: white;
  padding-top: 50px;
}

.newsletter h5 {
  text-transform: lowercase;
  font-weight: 300;
}

.form-wrapper {
  box-sizing: border-box;
}

.form-inline {
  display: flex;
  padding-top: 40px;
  width: 90vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 30px;
}

.form-container label {
  padding-bottom: 10px;
}

.form-container input[type="text"] {
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 3px solid #ffd700;
  padding: 5px;
}

.button-wrapper {
  padding-top: 50px;
  padding-bottom: 100px;
}

.newsletter button {
  font-family: inherit;
  font-size: large;
  background-color: #ffd700;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;
  text-transform: uppercase;
  display: inline-block;
  color: black;
}

.newsletter button:hover {
  background-color: black;
  color: #ffd700;
  border: 1px solid #ffd700;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: medium;
  padding-bottom: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.menu li {
  padding: 0px 30px;
  list-style-type: none;
  text-decoration: none;
  font-size: smaller;
  font-weight: 800;
}

.footer-nav-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 0;
}

.footer-nav-custom li {
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
  font-size: smaller;
  font-weight: 800;
}

.footer-nav-custom li a:hover {
  color: #ffc107;
}
