@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");

.navbar-bg {
  background: transparent
}

.navbar-header{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: "Italiana", serif;
  font-size: 25pt;
}

.navbar-sub-header{
  text-decoration: none;
  text-transform: lowercase;
  color: white;
  padding: 0px 10px;
  font-size: large;
}

.toggle-link{
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: large;
}


.header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 15px 20px;
  justify-content: space-between;
  max-width: 100%;
  font-family: "Bona Nova", serif;
}

.header__logo {
  object-fit: contain;
}

.header__title {
  display: block;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-family: "Italiana", serif;
}

.navbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.my-nav li {
  list-style-type: none;
}
/* .header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
} */

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__option {
  margin: 0px 15px;
  color: white;
}

.header__logo .offcanvas-body li {
  text-align: left;
  padding: 30px 0px;
  font-size: 1.2rem;
  list-style-type: none;
}

.header__logo .offcanvas-body li a {
  color: inherit;
  text-decoration: none;
}

.header__logo .offcanvas-body li a:hover {
  color: #ffc107;
}

.custom-toggler .navbar-toggler-icon {
  border: 0;
  height: 28px;
  width: 28px;
}
