@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&family=Open+Sans:wght@300&display=swap");

.font-custom {
  font-family: "Open Sans", sans-serif;
}
.gradient-custom {
  /* fallback for old browsers */
  background: radial-gradient(
    circle at -4% -12.9%,
    rgb(74, 98, 110) 0.3%,
    rgb(30, 33, 48) 90.2%
  );
  /* background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(0, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  ); */
  border-radius: 1%;
}

.list-group-mine .list-group-item {
  color: black;
}
